#ACE_EDITOR_ID {
    width: 100%;
    height: 100%;
}

.Editor {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &.empty {
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: #e5e5e5;
    }
}